@import "../../../../styles/variables";

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: #eeeeee;
}

.form {
  width: 600px;
  padding: 30px;
  background-color: $white_clr;
  border-radius: $radius_containers;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}