<nav class="nav-wrap">
  <ul class="main-nav">
    <li>
      <a class="main-nav__link"
         routerLink="/places"
         routerLinkActive="active">Маршруты</a>
    </li>
    <li>
      <a class="main-nav__link"
         routerLink="/events"
         routerLinkActive="active">Покатушки</a>
    </li>
    <li>
      <a class="main-nav__link"
         routerLink="/reports"
         routerLinkActive="active">Отчеты</a>
    </li>
    <li>
      <a class="main-nav__link"
         routerLink="/services"
         routerLinkActive="active">Мастерские</a>
    </li>
    <li>
      <a class="main-nav__link"
         routerLink="/hotels"
         routerLinkActive="active">Hotels</a>
    </li>
  </ul>
  <ul class="user-nav">
     <li><a class="user-nav__link" routerLink="/login">вход</a></li>
     <li><a class="user-nav__link" routerLink="/registration">регистрация</a></li>
   </ul>
</nav>