<div class="home pt-5">
    <div class="container">
        <div class="jumbotron jumbotron--home">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis doloremque ex itaque nihil
                nobis officiis saepe sed sint, ut? </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-success btn-lg" routerLink="/posts/all" role="button">READS POSTS</a>
            </p>
        </div>
    </div>
</div>
